

    <!-- Menu -->
    <div class="menu">
      <div class="container flex">
        <!-- Mobile Button -->
        <div class="mobile-btn">
         
        </div>
        <div class="logo">
          <img
            src="https://previews.123rf.com/images/kilroy79/kilroy791507/kilroy79150700227/42125464-illustration-of-an-ink-pen-flat-colors-logo.jpg"
            alt=""
          />
        </div>

        <ul class="nav">
          <li class="nav-item"><a [routerLink]="['/login','true']" class="btn">Login as Admin</a></li>
          <li class="nav-item"><a [routerLink]="['/login','false']" class="btn">Login as Volunteer</a></li>
          <!-- <li class="nav-item"><a href="#explore">Explore</a></li>
          <li class="nav-item"><a href="#discount">Register</a></li> -->
        </ul>
        <!-- <a href="#" class="btn">Login as Admin</a>
        <a href="#" class="btn">Login as Admin</a> -->
      </div>
    </div>

    <header class="header">
      <div class="container flex">
        <div class="text">
          <h1 class="mb">
            "The best way to find yourself is to lose yourself in the service of others"  
            <!-- <span>Workout</span> At Home -->
          </h1>
          <h2>- Mahatma Gandhi</h2>


          <a href="#" class="btn mt">Get Started Now</a>
        </div>

        <div class="visual">
          <img
            src="https://static.toiimg.com/thumb/msid-58621582,width-400,resizemode-4/58621582.jpg"
            alt=""
          />
        </div>
      </div>
    </header>
