.table {
    width: 500px;
    padding: 10px;
    margin: auto;
    border-radius: 50px;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    padding: 10px;
    font-weight: 400;
    text-align: center;
}

.btn{
    margin: auto;
}


.menu {
    width: 100%;
    background: linear-gradient(to right, #0e0e0e 70%, #142d2a);
    padding: 12px 0;
  }
  
  .menu .container {
    justify-content: space-between;
  }

  .nav {
    list-style: none;
  }
  
  .nav-item {
    
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    float: right;
  }
  
  .nav-item:hover a {
    cursor: pointer;
    /* background-color: red; */
    color: white;
    transition: 0.3s linear;
  }
  
  .nav-item:last-of-type {
    margin-right: 0;
  }

  .nav-button {
    padding: 10px 28px;
    background: var(--clr-primary);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    display: inline-block;
  }
  
  .nav-button:hover {
    background: #165f56;
    transition: 0.3s linear;
  }

  *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .date-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
  }

