<div class="box">
    <h3>Scribe Information Management</h3>
    <h2>Sign Up</h2>
    <form>
        <div class="inputBox">
            <input type="text" [(ngModel)]="signupData.name" name="name" placeholder="Name" required>
            <label>Name</label>
        </div>
        <div class="inputBox">
            <input type="text" [(ngModel)]="signupData.mobile" name="mobile" placeholder="Mobile No." required>
            <label>Mobile No.</label>
        </div>
        <div class="inputBox">
            <input type="email" [(ngModel)]="signupData.email" name="email" placeholder="Email" required>
            <label>Email</label>
        </div>
        <div class="inputBox">
            <input type="text" [(ngModel)]="signupData.address" name="address" placeholder="Address" required>
            <label>Address</label>
        </div>
        <div class="inputBox">
            <input type="password" type="password" [(ngModel)]="signupData.password" name="password"
                placeholder="Password" required>
            <label>Password</label>
        </div>
        <div class="inputBox">
            <div class="radio">
                <label>Gender:</label>
                <mat-radio-group [(ngModel)]="signupData.gender" name="something">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                    <mat-radio-button value="Others">Others</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="inputBox">
        
            <label>Languages Known: </label><br><br>
            <mat-checkbox class="example-margin" [(ngModel)]="signupData.english" name="sendData">English</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="signupData.tamil" name="sendData">Tamil</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="signupData.hindi" name="sendData">Hindi</mat-checkbox>
        
        </div>
        <input type="button" name="sign-in" (click)="signup()" value="Register" />
    </form>
</div>